[Unit]
Description=Symfony messenger wildberries-products %i
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
ExecStart=php /.....path..../bin/console messenger:consume wildberries-products --memory-limit=128m --time-limit=3600 --limit=100
Restart=always

User=unit
Group=unit

[Install]
WantedBy=default.target